@import "./colores";
@import "./fonts";
@import "./maps";
@import "./mixins";
@import "./sizes";
@import "./spacing";
@import "./titlles";

%bottonDefault{
    transition: map-get($transiciones, padding );
    border: solid;
    border-color: $bordes;
    background-color: $alternativo;
    max-width: fit-content;
    margin: $text-xxsmall;
      & :hover{
    background-color: $textoColor;
    color: $TextoNavBar;
    padding: $text-large
   }
}   

.buttonNavBar{
  @extend %bottonDefault;
  transition: none;
   &:hover{
    padding: none;
   }
}

#botonContacto{
    @extend %bottonDefault;
    border: solid $alternativo;
    border-bottom: solid $textoColor;
   } 

#botonContacto2{
    @extend #botonContacto ;
}

 #redesContacto{
    @extend %bottonDefault;
    border: solid $textoColor;
    }