%bottonDefault{
    transition: padding 1s;
    border: solid var(--borders);
    background-color: $bordeTransparente;
      & :hover{
    background-color: $bordes;
    color: $alternativo;
    padding: 5px;
   }
}   


#botonContacto{
    @extend %bottonDefault;
    border: solid $TextoNavBar;
    border-bottom: solid black;
   } 

#botonContacto2{
    @extend #botonContacto ;
}

 #redesContacto{
    @extend %bottonDefault;
    border: solid $bordeTransparente;
    }