@import "./colores";
@import "./fonts";
@import "./maps";
@import "./mixins";
@import "./sizes";
@import "./spacing";
@import "./titlles";
.cardForm{
    @include cardFormContacto ($border: none);
    h4{
        color: $TextoNavBar;
        font-size: $text-small;
        font-weight: lighter;
        border-radius: 20px;
        padding: $text-xxsmall;
        font-style: $font-title;
    }
    
    .camposObligatorios{
        text-align: center;
        font-family: $font-title;
        font-size: $text-xsmall;
        font-style: italic;
    }
    input, select {
        width : 10rem;
        height: 1rem;
    }
    
    .p, label{
        text-align: center;
        font-family: $font-principal;
        font-size: $text-xsmall;
        font-weight: 400;
        padding: 15px;
    }
}


.cardContacto{
    @include cardFormContacto ($border: 03px solid navBar);
    margin-bottom: $space-small;
    #textoContacto{
        border-radius: 50px;
        padding: 8px;
        margin-bottom: 50px;
        background-color: $primario;
    }
}


