header {
    display: inline flex;
    flex-flow: row nowrap;
    size-adjust: 100%;
        #logo{
            width: 500px;  
            height: 500px;
        }
    }
        nav {
            .navBar{
                max-width: auto;
                background-color: $primario;
                padding: $space-small;
                text-align: center;
                display: flex;
                justify-content: center;
                border-radius: 5px;
                .buttonNavBar{
                    background-color: $alternativo;
                    &:hover { 
                        width: 100px;
                    }
                } 
               li {
                display: inline;
                flex-wrap: wrap;
                background-color: $textoColor;
                list-style: none;
                .link {
                  text-decoration: none;
                  padding: $space-small;
                  margin: $text-xsmall2;
                  font-variant: small-caps;
                  font-size: $text-medium;
                  font-family: $font-title;
                  color: $textoNavBar;
                  display: inline flex;
                  flex-wrap: wrap;
                  background-color: $textoColor;
                  list-style: none;
                  &:hover{
                    color: $TextoNavBar;
                  }
                }
            }
        }
    }

