#seccionHome{
    max-width: max-content;
     padding: $space-medium;
     gap: 10px;
     margin-top: $space-xsmall;
     border-radius: 20px;
     background-color: map-get($colors, secondary);
     display: grid;
     grid-template-columns: (6, 1fr) ;
     grid-template-rows: (6, 1fr) ;
     justify-items: center;
     align-items: center;
     .imgHome:nth-of-type(1){
        max-width: 700px;
        grid-column: 1/3;
        grid-row: 1/3;
        &:hover{
            transform: scale(0.99);
        }
    }
    .imgHome:nth-of-type(2){
        max-width: 540px;
        grid-column: 3/6;
        grid-row: 1/2;
        &:hover{
            transform: scale(0.99);
        }
    }
    .imgHome:nth-of-type(3){
        max-width: 540px;
        grid-column: 3/6;
        grid-row: 2/3;
        opacity: 90%;
        &:hover{
            transform: scale(0.99);
        }
    }
    .imgHome:nth-of-type(4){
        max-width: 710px;
        grid-column: 1/4;
        grid-row: 3/6;
        opacity: 95%;
        &:hover{
            transform: scale(0.99);
        }
    }
    .imgHome:nth-of-type(5){
        max-width: 300px;
        grid-column: 5/5;
        grid-row: 4/5;
        opacity: 10%;
        &:hover{
            transform: scale(0.99);
        }
    }
    
    
}
/* -----------------------------------------sobre_mi-------------------------------------------- */


