$colors: (
    primary:#8e819f,
    alternative: #c4b9d4,
    secondary: rgba(255, 255, 255, 0.679),
    borders: #8ab9ca,
    borders-opac: #8ab9cab8, 
    textColor: #8e819ffd,
    textNavbar: #150425,
);