@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Dancing+Script&family=Open+Sans&display=swap");
@import "./partials/maps";  
@import "./partials/extendsButtons";
@import "./partials/mixins";   
@import "./partials/fonts";
@import "./partials/sizes";
@import "./partials/spacing";
@import "./partials/titlles";
@import "./partials/header";
@import "./partials/mainhome";
@import "./partials/footer"; 
@import "./partials/form";
@import "./partials/responsive";

*{
    margin: 0px;
    padding: 0px;
    font-family: $font-principal, $font-title;
    img{
        width: 100%;
     }
}

 body{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg?w=900&t=st=1661704218~exp=1661704818~hmac=c1495783018fda888eeecb846b7bf95d6dab06f65aef2d54a6d36063d82a8e92");
    background-repeat: repeat;
    background-size: contain;
    max-width: 1200px;
    margin: auto;
 }