*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    img{
        width: 100%;
     }
}
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Dancing+Script&family=Open+Sans&display=swap");
      @import "./partials/maps";  
      @import "./partials/extendsButtons";
      @import "./partials/mixins";   
      @import "./partials/fonts";
      @import "./partials/sizes";
      @import "./partials/spacing";
      @import "./partials/titlles";
      @import "./partials/header";
      @import "./partials/header";
      @import "./partials/mainhome";
      @import "./partials/titlles";
      @import "./partials/footer"; 
      @import "./partials/form";
      @import "./partials/responsive";
 body{
    background-image: url("https://img.freepik.com/foto-gratis/elegante-fondo-blanco-formas-abstractas-grises_1017-19952.jpg?w=900&t=st=1663464647~exp=1663465247~hmac=d3b6ef6f60a82b5a1a9d6de44249b7cf71ed8d3782012ead7d1e916f34475381");
    background-repeat: repeat;
    background-size: cover;
    max-width: 1200px;
    margin: auto;
 }